* {
  background-color: rgb(247, 247, 247);
  max-width: 500px;
  text-align: center;
  margin: auto;
}
body {
  text-align: center;
}
h1 {
  text-align: center;
}
img {
  height: auto;
  width: 250px;
}
header {
  text-align: center;
}

.upper {
  text-align: center;
}
ul,
ol {
  display: inline-block;
  margin: auto;
  text-align: center;
  list-style-position: inside;
}
li {
  text-align: left;
}
